# Replace with the hash generated with the generate-password-hash.js script
HASHED_PASSWORD="##hash##"
PWD_HASH_SALT="salt"
PWD_HASH_ITERATIONS="50"

# Site URL for SEO and canonical links
SITE_URL="https://example.com"
GITHUB_USERNAME="username"

# Identity
FIRST_NAME="John"
LAST_NAME="Doe"

# CV API secret key for uploading and downloading generated with the cv-generate-secret-key.js script
CV_API_SECRET_KEY="secret-key"

# Webhook Discord system for the contact form
DISCORD_WEBHOOK_URL="https://discord.com/api/webhooks/..."
DISCORD_USER_ID="YOURIDFORHAVEAPING"